@font-face {
  font-family: DS-DIGII;
  src: url('/packages/css/libs/fonts/DS-DIGIB.TTF');
}

#act-reglas{
  font-size: 1.1em;
}

.temp > h3{
  margin-top: -8px;
  font-weight: bold;
  margin-right: 10px;
}

.valor-resp{
  margin-top: 20px;
  overflow: hidden;
  padding: 1%;

}

.valor-resp > div{
  width: 100%;
  height: 100%;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  background: #5cb85c;
  border: 3px solid #555;
  font-size: 5em;
  font-weight: bold;
  padding: 0px;
  text-align: center;
  background-color: rgb(10, 96, 242);
  animation: 1.7s balanceo 1;
  backface-visibility: visible;
}
.combo
{
    width:0;
    height:0;
	text-align: left;
	font-weight: bold;
	font-size: 6em;
}

.valor-resp :hover,.valor-resp>div:hover{
  background: rgb(22, 82, 184);
  transition: .4s;
  cursor: pointer;
  transform: skew(-11deg);

}

.actividadBotones{
  margin-top: 20px;
}

.actividadBotones > button, .actividadBotones > a{
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 1.3em;
  padding: 5px;
  background-color: rgb(235, 235, 235);
  color: rgb(71, 71, 71);
  border: solid 2px rgba(179, 179, 179, 0.3);
}
/*Medias queries begin here*/
@media only screen and (max-width: 1278px) and (min-width: 1100px){
  .valor-resp > div{
    width: 100%;
    height: 100%;
    -moz-border-radius: 10% 50% / 10% 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    border: 3px solid #555;
    font-size: 4.3em;
  }

}
@media only screen and (max-width: 1099px) and (min-width: 800px){
  .valor-resp > div{
  width: 107%;
  height: 100%;
  padding: 10%;
  position: relative;
  z-index: 100;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  border: 3px solid #555;
  font-size: 3.8em;
}
.valor-resp{
  width: 20%;
}

}
@media only screen and (max-width: 799px) and (min-width:540px) {
   .valor-resp > div{
      width: 102%;
      height: 100%;
      padding: 4%;
      position: relative;
      z-index: 100;
      -moz-border-radius: 10% 50% / 0 100%;
      -webkit-border-radius: 10% 50% / 0 100%;
      border-radius: 10% 50% / 0 100%;
      border: 3px solid #512355;
      font-size: 3.4em;
  }
  .valor-resp{
      width: 20%;
  }

}

@media only screen and (max-width:540px) and (min-width:500px){
      .valor-resp > div{
      width: 101%;
      height: 100%;
      padding: 3%;
      position: relative;
      z-index: 100;
      -moz-border-radius: 10% 50% / 0 100%;
      -webkit-border-radius: 10% 50% / 0 100%;
      border-radius: 10% 50% / 0 100%;
      border: 3px solid #512355;
      font-size: 3.2em;
  }
  .valor-resp{
      width: 20%;
  }

}
/* Para 600px */
@media only screen and (max-width: 499px) and (min-width: 395px) {
    .valor-resp > div{
      width: 105%;
      height: 100%;
      padding: 2%;
      position: relative;
      z-index: 100;
      -moz-border-radius: 40% 50% / 0 100%;
      -webkit-border-radius: 40% 50% / 0 100%;
      border-radius: 40% 50% / 0 100%;
      border: 3px solid #512355;
      font-size: 2.7em;
  }
  .valor-resp{
      width: 21%;
  }
}


/* Para 480px */
@media only screen and (max-width: 394px) and (min-width: 335px) {
      .valor-resp > div{
      width: 106%;
      height: 100%;
      padding: 1%;
      position: relative;
      z-index: 100;
      -moz-border-radius: 60% 50% / 10% 100%;
      -webkit-border-radius: 60% 50% / 10% 100%;
      border-radius: 60% 50% / 10% 100%;
      border: 3px solid #512355;
      font-size: 2.3em;
  }
  .valor-resp{
      width: 21%;
  }
  .zona-juego{
    padding: 10;
  }
}

/* Para 320px */
@media only screen and (max-width: 334px) and (min-width: 260px)  {
      .valor-resp > div{
      width: 106%;
      height: 100%;
      padding: 1%;
      position: relative;
      z-index: 100;
      -moz-border-radius: 60% 50% / 10% 100%;
      -webkit-border-radius: 60% 50% / 10% 100%;
      border-radius: 60% 50% / 10% 100%;
      border: 3px solid #512355;
      font-size: 2.3em;
  }
  .valor-resp{
      width: 21%;
  }

}

.actividadBotones > button:hover, .actividadBotones > a:hover{
  background-color: rgb(217, 217, 217);
  border: solid 2px rgba(179, 179, 179, 0.3);
  transition: 0.4s;
}

.error-shadow{
  box-shadow: 0px 0px 15px 5px rgba(190, 0, 0, 0.85);
  transition: 0.3s;
}

@media (max-width: 991px) {
  #max-pts{
    border-right: none;
    border-bottom: solid 5px rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
  }
}
.valor-resp >div
{
	background-color: aqua;

}
#game
{
	min-height: 137px;
}
-webkit-@keyframes balanceo
{

	50%{transform: rotateZ(30deg)perspective(900px);}
	100%{transform: rotateZ(30deg)perspective(900px);}
}
@keyframes balanceo
{
	60%{transform:scale(-.8) rotateX(160deg)}
	100%{transform:scale(1) rotateX(-360deg)}
	/*90%{transform: scale(-.9,.2) perspective(-200px);}
	10%{transform: scale(-.4,.4);}*/
}
@keyframes goodBy
{
	from{transform: scale(-1) rotateX(23deg) skew(55deg,15deg) translate(24px);opacity: 1}
	to{transform: scale(.9) rotateX(-23deg) translateY(400px);opacity: 0}
}

@keyframes changeBack
{
	49%{color: #f7f723}
	100%{color: #fff}
}
@keyframes combo
{
	45%{transform: scale(1) translateY(-50px) skew(8deg);opacity: 1}
	100%{transform: scale(5) translateY(100px) ;opacity: 0}

}

.cal-titulo{
  margin-top: 15px;
}

.cal-titulo > h3{
  margin-top: -5px;
  font-size: 1.2em;
  letter-spacing: 0.8px;
}

.cal-titulo > h1{
  font-size: 1.8em;
  margin-top: -5px;
}



@media only screen and (max-width: 1178px) and (min-width: 300px){


}
@media only screen and (max-width: 1178px) and (min-width:845px) {

}

@media only screen and (max-width:844px) and (min-width:530px){


}
/* Para 600px */
@media only screen and (max-width: 529px) and (min-width: 370px) {

}


/* Para 480px */
@media only screen and (max-width: 369px) and (min-width: 300px) {


http://www.juegoscuriosity.git.com.mx/multiplicaciones}

/* Para 320px */
@media only screen and (max-width: 449px) and (min-width: 300px)  {


}
