#tit-mydata{
  background-color: #2262ae;
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-top: -100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}
#tit-mychild{
  background-color: #2262ae;
  width: 102.5%;
  padding-top: 15px;
  color: #fff;
  margin-top: -5px;
  margin-left: -15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;
}
.secbox {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#tit-news{
  font-size: 1.2em;
  color: #fff;
  background-color: #2262ae;
  margin: 0;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
#sec1{
  margin-bottom: 20px;
  height: 300px;
}
#sec2{
  height: 167px;
}
.titsecs{
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  background-color: #2262ae;
  color: #fff;
  padding: 10px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box-header{
  padding: 0;
}
.box{
  padding-bottom: 0;
}
#edit_datos{
  width: 90%;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #3cb54a;
  margin-top: 10px;
  margin-bottom: 22px;
}
.box-profile{
 padding-bottom: 51.5px;
}
.contenedores{
  padding-bottom: 25px;
}
.isP{
  margin-top: -30px !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
  margin-right: 30px !important;
}
.isP2{
  display: none;
  margin-top: -30px !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
  margin-right: 30px !important;
}
#changedatabox{
  display: none;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-bottom: 25px;
  border-radius: 5px;
}
#tit-headchange{
  background-color: #2262ae;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.boxData{
  background-color: #ecf0f5;
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.title-input{
  color: #585d66;
  margin-top: -10px;
}
.input-custom{
  border: none !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.addonStyle{
  border-top-left-radius: 10px;
  border: #fff;
  border-left-color: #2262ae;
  border-bottom-left-radius: 10px;
  background-color: #2184be;
  color: #fff;
  font-size: 1em;
  width: 50px;
  text-align: center;
}
.input-group{
  width: 100%;
}
#btn-svh {
  margin-top: 30px;
  color: #fff;
  background-color: #3cb54a;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}
#btn-clh {
  margin-top: 30px;
  color: #fff;
  background-color: #ed6922;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

@media(max-width: 767px){
  #btn-clh{
    width: 100%;
  }
  #btn-svh{
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .slider-wrapper{
    height: 469px;
  }
}

@media (max-width: 415px) {
  .slider-wrapper{
    height: 150px;
  }
  .caption p{
    font-size: 0.8em;
  }
}

@media (max-width: 450px) {
  .slider-wrapper{
    height: 200px !important;
  }
  .caption p{
    font-size: 0.8em !important;
  }
  .isP2{
    display: block;
  }
  .isP{
    display: none;
  }
}

@media (max-width: 650px) {
  .slider-wrapper{
    height: 300px;
  }
  .caption p{
    font-size: 1em;
  }
}
