#tit-mydata{
  background-color: #2262ae;
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-top: -100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}
#tit-mychild{
  background-color: #2262ae;
  width: 102.9%;
  padding-top: 15px;
  color: #fff;
  margin-top: -5px;
  margin-left: -15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;
  transition: .5s;
  -webkit-transition: .5s;
}
#tit-mychild-est{
  background-color: #2d96ba;
  width: 102.9%;
  padding-top: 15px;
  color: #fff;
  margin-top: -5px;
  margin-left: -15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;
  transition: .5s;
  -webkit-transition: .5s;
}
.title-of-the-progress{
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    outline-width: medium;
    text-shadow: .1px 0px .1px #5f5f5f;
    margin-bottom: 40px;    
}

.container-estadisticas{
   margin-top: 25px; 
}
.secbox {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#tit-news{
  font-size: 1.2em;
  color: #fff;
  background-color: #2262ae;
  margin: 0;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
#sec1{
  margin-bottom: 20px;
  height: 300px;
}
#sec2{
  height: 167px;
}
.titsecs{
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  background-color: #2262ae;
  color: #fff;
  padding: 10px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-of-the-progress h1{
    color:#585d66;
    background: #f2bc19;
}
.title-progress-day h1{
    color:#fff;
    background: #8a489b;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    outline-width: medium;
    text-shadow: .1px 0px .1px #5f5f5f;
    margin-bottom: 20px;   
}
#sec3{
  height: 300px;
  position: relative;
}
#des_jue{
    z-index: 0;
    position: absolute;
}
.box-header{
  padding: 0;
}
.box{
  padding-bottom: 0;
}
#edit_datos{
  width: 90%;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #3cb54a;
  margin-top: 10px;
  margin-bottom: 22px;
}
.box-profile{
 padding-bottom: 51.5px;
}
.contenedores{
  padding-bottom: 25px;
}
.isP{
  margin-top: -30px !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
  margin-right: 30px !important;
}
.isP2{
  display: none;
  margin-top: -30px !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
  margin-right: 30px !important;
}
.highcharts-background{
    z-index: 0;
}

@media (max-width: 1024px) {
  .slider-wrapper{
    height: 469px;
  }
}

@media (max-width: 415px) {
  .slider-wrapper{
    height: 150px;
  }
  .caption p{
    font-size: 0.8em;
  }
}

@media (max-width: 450px) {
  .slider-wrapper{
    height: 200px !important;
  }
  .caption p{
    font-size: 0.8em !important;
  }
  .isP2{
    display: block;
  }
  .isP{
    display: none;
  }
}

@media (max-width: 650px) {
  .slider-wrapper{
    height: 300px;
  }
  .caption p{
    font-size: 1em;
  }
}
