.menu-ul{
      list-style: none;
      list-style-type: none;
      list-style-position: outside;
}

.menu-ul-li{
      line-height: 30px;
      font-size: 16px;
      cursor:pointer;
}

.menu{
      width:250px;
      position:absolute;
      border:1px solid black;
      background:#f2f2f2;
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
}
.menu ul li:hover{
    background: #dddbdb;
}
