#tit-mishijos{
  background-color: #2262ae;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  margin-bottom: 30px;
  padding: 10px;
}
#tit-hijos{
  margin: 0;
  font-size: 1.5em;
  margin-top: 5px;
}
#tabRegHijos{
  background-color:#3cb54a;
  color:white;
  border-radius: 50px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 5px;
  border: solid 2px #7ed688;
  outline: none;
}
/*Estilos para modal de registro de hijos*/
.modal {
  z-index: 9999;
}
#wizard-p-0, #wizard-p-1, #wizard-p-2{
  background-color: #eee;
  border: none;
  padding: 30px;
}
.addonStyle{
  border-top-left-radius: 10px;
  border: #fff;
  border-left-color: #2262ae;
  border-bottom-left-radius: 10px;
  background-color: #2184be;
  color: #fff;
  font-size: 1em;
  width: 50px;
  text-align: center;
}
.input-group{
  width: 100%;
}
.form-custom-step{
  border: none !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.modal-header{
  background-color: #2262ae;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 16px;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}
.modal-content{
  border-top-right-radius: 16px;
}
.title-input{
  color: #585d66;
}
.steps{
  margin-bottom: 20px;
}
button[data-dismiss="modal"]{
  margin-top: -20px !important;
  color: rgb(33, 132, 190) !important;
  opacity: 1 !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
  margin-right: -20px !important;
  outline: none !important;
  border: none !important;
  padding: 0px !important;
}
/*Fin de Estilos para modal de registro de hijos*/
#hijosInfo{
	background-color: white;
	border-radius: 10px;
	padding-bottom: 12px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.hijo_avatar{
  padding: 10px;
  border-color: #2d96ba;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.15);
  margin-bottom:20px;
}
p.nombres{
	font-family: "Calibri Light";
  font-size: 1.3em;
	color:#ed6922;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}
.imgprfh{
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}
#secreghijo{
  display: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  padding: 30px;
  margin-bottom: 20px;
}
#tit-regh{
  font-size: 1.5em;
  background-color: #2262ae;
  color: #fff;
  padding: 10px;
  margin-top: -30px;
  margin-left: -45px;
  margin-right: -45px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.box-regh{
  background-color: #eaeef3;
  padding: 40px;
  margin-top: 20px;
  margin-left: -10px;
  border-radius: 5px;
}
#tit-userh{
  margin-top: 0;
  margin-left: -15px;
  margin-bottom: 25px;
}
#btn-svh{
  margin-top: 30px;
  color: #fff;
  background-color: #3cb54a;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}
#btn-clh{
  margin-top: 30px;
  color: #fff;
  background-color: #ed6922;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}
#fecha_nacimiento{
  background-color: #fff !important;
  cursor: pointer;
}

@media(max-width: 767px){
  #tabRegHijos{
    width: 100%;
    margin-top: 30px;
  }
  #tit-hijos{
    text-align: center;
  }
  #btn-clh{
    width: 100%;
  }
  #btn-svh{
    width: 100%;
    margin-top: 10px;
  }
}
