.textAlert{
  font-size: 0.85em;
}

/*Seccion para actualizar la informacion del perfil del niño*/
#updatedatachild{
  display: none;
  background-color: #fff;
  padding: 40px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.groupInputWidth{
  width: 100%;
}
.inputData{
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sectionUpdate{
  background-color: #e3e7ec;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}
#btnCncl{
  background-color: #f39c12;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  outline: none;
}
#btnupdate{
  background-color: #00a65a;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  outline: none;
}
/*Fin Seccion para actualizar la informacion del perfil del niño*/

/*Estilo para modal de cambio de imagen*/
#modalDialog{
  padding: 5px;
  background-color: #2262ae;
  border-radius: 5px;
  border-top-right-radius: 20px;
}
#modalContent{
  background-color: #fff;
  border-radius: 5px;
}
#modalFooter{
  background-color: #f4f4f4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#btnCloseModal{
  background-color: #fff;
  opacity: 1;
  padding: 10px;
  width: 40px;
  height: 40px;
  color: #2262ae;
  border-radius: 50%;
  border: none;
  margin-right: -20px;
  margin-top: -20px !important;
  outline: none;
}
.tit-modalhead{
  margin: 0;
  background-color: #2262ae;
  color: #fff;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 20px;
  font-size: 1.5em;
}
.input-prof{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px rgba(119, 119, 119, 0.3);
  font-size: 0.85em;
  color: #777;
}
.datalabel{
  color: #777;
  font-size: 0.85em;
}
.datainfo{
  text-align: left;
  background-color: #ecf0f5;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}
#inImage{
  display: none;
}
#btnselectprofile{
  width: 100%;
  background-color: #2262ae;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btnRecortar{
  background-color: #00a65a;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
}
.cropper-bg {
  width: 100% !important;
}
.preview{
  width:200px;
  height:200px;
  border-radius:100%;
  overflow:hidden;
  border:3px solid #777;
}
/*Fin Estilo para modal de cambio de imagen*/

@media (max-width: 415px) {
  .irAvatarStore, .hrHijo{
    display: none;
  }
  .hideIrAvatarStore{
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
  }
  #contAvatar{
    margin-bottom: 20px;
  }
  #panel_informativo{
    display: none;
  }
}

@media (max-width: 768px) {
  #imgPerfilChanger{
    margin-top: 20px !important;
  }
  #contAvatar{
    padding-bottom: 10px !important;
  }
  .irAvatarStore, .hrHijo{
    display: none;
  }
  .hideIrAvatarStore{
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
  }
  img#avatar {
    margin-bottom: 42.5px !important;
  }
  #slider {
    height: 360px;
    margin-bottom: 20px !important;
  }
  .cardInfo{
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  #slider {
    height: 360px;
  }
  img#avatar {
    margin-bottom: 50px;
  }
  #nameAvatar{
    margin-bottom: 30px;
  }
  .titleAlert{
    font-size: 0.8em;
  }
  .textAlert{
    font-size: 0.75em;
  }
  .titlePanelInfo{
    font-size: 0.8em;
  }
  #imgPerfilChanger{
    padding-bottom: 0;
  }
  #contAvatar{
    padding-bottom: 125px;
  }
}

@media (max-width: 1320px) {
  #slider {
    height: 360px;
  }
  img#avatar {
    margin-bottom: 50px;
  }
  #nameAvatar{
    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  img#avatar {
    margin-bottom: 25px;
  }
  #nameAvatar{
    margin-bottom: 22px;
  }
}
