#tabla-head-profesores{
  background-color: rgba(210, 210, 210, 0.7);
  color: rgb(60, 60, 60);
}

#prevFotoProfesor, .prevFotoProfesor{
  width: 100px !important;
  height: 100px !important;
  cursor: pointer;
}
