html, body{
	height: 100%;
}

*{
	margin: 0px;
	padding: 0px;
	 user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

body{
	font-family: calibri;
	font-size: 1.3em;
	background-color: rgba(60, 141, 187, 1);
}

.fa-6x{
	font-size: 6em;
}

/*/ Barra de desplazamiento /*/
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: rgba(60, 141, 187, 1);
}
::-webkit-scrollbar-thumb {
			background-color: rgba(8, 115, 167, 1);
			border: solid 3px rgba(60, 141, 187, 1);
			border-radius: 10px;
}
::-webkit-scrollbar-button {
      background-color: rgba(60, 141, 187, 1);
}
::-webkit-scrollbar-corner {
      background-color: transparent;
}

button{
	border: none;
	outline: none !important;
}

/* estilo general */
.pantalla-total{
	height: 100%;
}

.make-circle{
	background: red;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	color: rgb(255, 255, 255);
	padding-top: 40px;
	padding-left: 30px;
	margin-bottom: 10px;
	font-size: 9em;
}

.input-group-addon{
	min-width: 45px;
	max-width: 45px;
	border-color: black;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn{
	border: none;
}

.bg-blue{
	background-color: rgb(54, 142, 184);;
}

.bg-pink{
	background-color: rgb(228, 42, 187);
}

.bg-yellow{
	background-color: rgb(175, 208, 18);
}

.bg-purple{
	background-color: rgb(136, 18, 185) !important;
}

.bg-green, .btn-primary{
	background-color: rgb(0, 163, 100) !important;
}

.bg-orange, .btn-warning{
	background-color: rgb(241, 99, 0) !important;
}

.btn-warning:hover{
	background-color: rgb(212, 87, 0) !important;
	transition: .4s;
}

.addon-green{
	border-color: rgb(2, 133, 82);
}

.addon-purple{
	border-color: rgb(94, 2, 133);
}

.addon-orange{
	border-color: rgb(173, 73, 3);
}

.btn-primary:hover{
	background-color: rgb(1, 136, 84) !important;
	transition: .4s;
}

.bg-transparent{
	background-color: transparent;
}

/* Navbar Menu*/
.navbar{
	padding-right: 10px;
	padding-left: 10px;
	border: none;
}

ul.nav > li > a{
	color: rgba(255, 255, 255, 1) !important;
	/*font-weight: bold;*/
	letter-spacing: 0.5px;
}

.navbar-brand{
	color: rgba(255, 255, 255, 1) !important;
	font-weight: bold;
	font-size: 1.7em;
	letter-spacing: 0px;
}

.navbar-brand small{
	opacity: .85;
	font-weight: lighter;
}

/* / inicio / */
#inicio{
	background-image: url(/packages/images/fondos/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 70px;
}

#inicio div div h1{
	color: white;
	font-size: 3.5em;
	letter-spacing: 1px;
	margin-top: -10px;
}

.boton-inicio{
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 250px;
	max-width: 250px;
	margin-top: -20px;
	font-size: 2em;

}

.cel-boton-inicio{
	width: 100%;
	font-size: 2em;
	margin-bottom: 10px;
}

/*/ que es curiosity /*/
#ofrecemos{
	background-color: rgb(255, 255, 255);
	background-image: url(/packages/images/fondos/fondo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#carousel-1{
	padding-top: 80px;
	padding-bottom: 80px;
	min-height: 400px;
	max-height: 400px;
}

section div div h3{
	margin-top: 50px;
	margin-bottom: 70px;
}

.opciones-margen{
	margin-bottom: 100px;
}

.opciones-margen > h4 > b{
	font-size: 1.3em;
	/*font-weight: lighter;*/
	color: rgba(0, 0, 0, 0.7);
}

.slide-titulo{
	margin-left: -45px;
	margin-top: -30px;
}

.slide-titulo > p{
	font-size: 1.3em;
}

#icon-educacion{
	padding-top: 50px;
	padding-left: 25px;
}

#icon-apoyo{
	padding-top: 40px;
	padding-left: 40px;
}

#icon-comunidad{
	padding-top: 45px;
	padding-left: 38px;
}

#icon-diviertete{
	padding-top: 45px;
	padding-left: 55px;
}

#icon-avances{
	padding-top: 45px;
	padding-left: 35px;
}

#icon-monitoreo{
	padding-top: 50px;
	padding-left: 37px;
}

/* Computadorcita */
#computadorcita{
	background-image: url(/packages/images/fondos/videoFondocp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
}

#fondoVideo{
	background-image: url(/packages/images/videoPC.png);
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 125px;
	margin-bottom: 50px;
}

#video{
	width: 96%;
	margin-top: -95px;
}

#videoDesc{
	color: white;
	margin-top: 70px;
}

#videoDesc > h2{
	margin-top: -2px;
	margin-bottom: 15px;
}

#videoDesc > a {
	width: 40%;
	font-size: 2.2em;
}

#vidFooter{
	background-color: rgba(27, 45, 83, 1);
}

.footerDesc{
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 2em;
}

/*/ escuelas asociadas /*/
#escuelas{
	background-color: rgb(59, 59, 59);
}

#escuelas > .container > .row > div > h3{
	color: rgba(255, 255, 255, 0.8);
}

.escuelas-panel{
	padding: 20px;
	background-color: rgb(33, 33, 33);
	border-radius: 5px;
	margin: 10px;
	box-sizing: border-box;
	/*cursor: pointer;*/
}

.escuelas-img-hover:hover{
	opacity: 0.5;
	transition: .3s;
}

.escuelas-mas{
	margin-top: 50px;
	color: rgb(254, 255, 251);
	margin-bottom: 50px;
	font-size: 1em;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(36, 35, 35, .5);
}

.escuelas-mas label{
	font-size: 2em;
	margin-left: 25px;
}

.escuelas-mas:hover{
	cursor: pointer;
	/*background-color: rgba(36, 35, 35, .2);*/
	opacity: .5;
	transition: .4s;
}

.escuelas-panel h5{
	color: rgba(255, 255, 255, 0.6);
	padding-top: 20px;
	letter-spacing: 0.5px;
	font-weight: bold;
}

/*/ formas de pago /*/
#pagos{
	background-color: rgb(255, 255, 255);
	background-image: url(/packages/images/fondos/fondo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 50px;
	color: white !important;
	padding-top: 150px;
	padding-bottom: 100px;
}

#pagos > .container > .row > div > h3{
	color: rgba(40, 40, 40, 0.6);
	font-weight: bold;
	font-size: 2em;
}

.pagos-panel{
	box-sizing: border-box;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.55);
}

#mem1{
	padding: 20px;
	background-color: rgb(52, 183, 64);
}

#mem2{
	padding: 20px;
	background-color: rgb(151, 52, 183);
}

#mem3{
	padding: 20px;
	background-color: rgb(218, 116, 61);
}

.numMem > center> h1{
	border-radius: 50%;
	border: solid 5px white;
	width: 100px;
	height: 100px;
	font-weight: 900;
	color: white;
	font-size: 4em;
	padding-top: 8px;
}

.numMem > center> h2{
	font-weight: 900;
	color: white;
	font-size: 2em;
}

.numMem > center> h3{
	font-weight: 900;
	color: white;
	font-size: 4em;
	margin-top: 25px;
}

#mem1-footer{
	background-color: white;
	padding: 20px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.55);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 25px;
}

#mem1-footer > button{
	height: 50px;
	font-size: 2em;
	font-weight: bold;
	background-color: rgb(54, 142, 184) !important;
}

/*/ Pie de la pagina /*/

a{
	color: rgba(255, 255, 255, 0.4);
}

a:hover{
	text-decoration: none;
	color: white;
	transition: 0.4s;
}

footer{
	padding: 20px;
	background-color: rgb(10, 92, 139);
}

footer > div > div > div > h5{
	color: rgba(255, 255, 255, 0.55);
	font-size: 1.2em;
}

footer div hr{
	border: solid 2px rgba(255, 255, 255, 0.2);
}

.lista-footer > li {
	list-style: none;
	padding: 5px;
	font-size: 1.1em;
}

.footer-desc{
	color: rgba(167, 167, 167, 0.7);
}
.logo-construccion
{
    top: 11%;
    left: 0px;
    margin-left: 0px!important;
    position: absolute;
    max-width: 300px;
    max-height: 200px;
    transform: rotate(-20deg);
    transition: 3.2s;
}
.logo-construccion:hover {
	transform: scale(1) rotate(-15deg) ;
}

/*------*/

@media (max-width: 1024px) {
	#fondoVideo{
		padding: 110px;
		margin-bottom: 50px;
	}

	.logo-inicio{
		width: 100% !important;
		padding-left: 0% !important;
	}

	.boton-inicio{
		margin-bottom: -30px;
	}
}

@media (max-width: 768px) {
	#fondoVideo{
		padding: 210px;
		margin-top: -39px;
		margin-bottom: -100px;
	}

	#videoDesc{
		margin-bottom: 45px;
	}
}
/*
@media (min-width: 778px) {
	.logo-inicio{
		width: 70%;
		padding-left: 30%;
	}

	.boton-inicio{
		margin-bottom: -30px;
	}
}*/

@media (max-width: 773px) {
	.logo-inicio{
		width: 70%;
		padding-left: 30%;
	}

	.boton-inicio{
		margin-bottom: -30px;
	}
}

@media (max-width: 736px) {
	.logo-inicio{
		width: 70%;
		padding-left: 30%;
	}

	.boton-inicio{
		margin-bottom: -30px;
	}
}
