.largeCard{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.largeCard:hover{
  transition: .4s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.imgTema{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.largeCardOut{
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 30px;
  color: rgba(131, 131, 131, 0.5);
  border: solid 2px rgba(131, 131, 131, 0.5);
}
